<ul *ngIf="paginas?.length > 0" class="pagination">
    <li class="page-item" *ngIf="paginador.number > 0">
        <a class="page-link" [routerLink]="['/administrador/list_comisiones/page',paginador.number-1]" >&laquo;</a>
    </li>
    <li [ngClass]="paginador.number==0?'disabled page-item':'page-item'">
        <a class="page-link" [routerLink]="['/administrador/list_comisiones/page',0]">Primera</a>
    </li>
    <li class="page-item" *ngFor="let pagina of paginas" [ngClass]="pagina-1 == paginador.number?'active':''" >
        <span class="page-link" *ngIf="pagina-1 == paginador.number">{{pagina}}</span>
        <a class="page-link" *ngIf="pagina-1 != paginador.number" [routerLink]="['/administrador/list_comisiones/page',pagina-1]" >{{pagina}}</a>
    </li>
    <li [ngClass]="paginador.number==paginador.totalPages-1?'disabled page-item':'page-item'">
        <a class="page-link" [routerLink]="['/administrador/list_comisiones/page',paginador.totalPages-1]">Ultima</a>
    </li>
    <li class="page-item" *ngIf="paginador.number < paginador.totalPages-1">
        <a class="page-link" [routerLink]="['/administrador/list_comisiones/page',paginador.number+1]" >&raquo;</a>
    </li>
</ul>


