<div class="card border-primary mb-3" id="listProducts">
    <div class="card-header">Negocios</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Listado de Negocios</h5>
      <div class="my-2 text-left">
        <button
          class="btn btn-rounded btn-primary"
          type="button"
          [routerLink]="['/administrador/form_negocio']">
          Registrar negocio
        </button>
      </div>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Estado</th>
            <th>Usuario admin</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of sucursal">
           <td>{{item.nombre}}</td> 
           <td>{{item.email}}</td>
           <td *ngIf="item.estado===true" >Activo</td>
           <td *ngIf="item.estado===false" >Inactivo</td>
           <td>{{item.administrador.nombreNegocio}}</td>
          
            <td>
                  <button type="button" name="editar" [routerLink]="['/administrador/negocio_especifico', item.sucursal_id]"  class="btn btn-primary">Editar</button>
                </td>
                <td>
                  <button type="button" name="bloquear"(click)="sucursalEliminar(item)"   class="btn btn-danger">Bloquear</button>
                </td>
          </tr>
        </tbody>
      </table>
      <admin-nav *ngIf="paginador" [paginador]="paginador"></admin-nav>
    </div>
  </div>
  
