<div class="card border-primary" id="formComision" style="width: 45rem;">
    <div class="card-header">
      Administrador sucursal nuevo
    </div>
    <div class="card-body">
      <form>
        <div class="form-group row">
          <label for="nombre" class="col-form-label col-sm-3">Administrador:</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" [(ngModel)]="administrador.nombreNegocio" placeholder="admin..*" name="admin"/>
          </div>
        </div>
        <div class="form-group row">
          <label for="nombre" class="col-form-label col-sm-3">Username:</label>
          <div class="col-sm-6">
            <input type="text" [(ngModel)]="usuario.username" class="form-control" name="username" id="username" placeholder="Username..*" autofocus required>
          </div>
        </div>
        <div class="form-group row">
          <label for="nombre" class="col-form-label col-sm-3">Email:</label>
          <div class="col-sm-6">
            <input type="email" [(ngModel)]="usuario.email" class="form-control" name="email" id="email" placeholder="email..*"  required>
          </div>
        </div>
        <div class="form-group row" *ngIf="!usuario.id">
          <label for="nombre" class="col-form-label col-sm-3">Password:</label>
          <div class="col-sm-6">
            <input type="password" [(ngModel)]="usuario.password" class="form-control" name="password" id="password" placeholder="Password..*" required>
          </div>
        </div>
        <div class="form-group row" *ngIf="!usuario.id">
          <label for="nombre" class="col-form-label col-sm-3">Password nuevamente:</label>
          <div class="col-sm-6">
            <input type="password" [(ngModel)]="password2" class="form-control" name="password2" id="password2" placeholder="password otra vez..*" required>
           </div>
        </div>
        <div class="form-group row">
          <label for="nombre" class="col-form-label col-sm-3">Nombre negocio:</label>
          <div class="col-sm-6">
            <input type="text" [(ngModel)]="usuario.nombre" class="form-control" name="nombre" id="nombre" placeholder="nombre.."  >
        </div>
        </div>
        <!-- <div class="form-group row">
          <label for="nombre" class="col-form-label col-sm-3">Apellido:</label>
          <div class="col-sm-6">
            <input type="text" [(ngModel)]="usuario.apellido" class="form-control" name="apellido" id="apellido" placeholder="apellido.." >
          </div>
        </div>         -->
        <div class="form-group row">
          <div class="col-sm-6">
              <button class="btn btn-rounded btn-primary" (click)='administradorCrear()' *ngIf="!administrador.administrador_id else elseBlock" role="button">Crear</button>
              <ng-template #elseBlock>
                  <button class="btn btn-rounded btn-info" (click)='administradorModificar()' role="button">Editar</button>
              </ng-template>
          </div>
        </div>
      </form>
    </div>
  </div>
 
 