<div class="card border-primary" id="formProducto" style="width: 45rem;">
    <div class="card-header">
      Negocio nuevo
    </div>
    <div class="card-body">
      <form>
        <div class="form-group row">
          <label for="nombre" class="col-form-label col-sm-2">Nombre:</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" [(ngModel)]="sucursal.nombre"  name="nombre"/>
          </div>
        </div>
        <div class="form-group row">
          <label for="email" class="col-form-label col-sm-2">Email:</label>
          <div class="col-sm-6">
            <input type="email" class="form-control" [(ngModel)]="sucursal.email"  name="email"/>
          </div>
        </div>
        <div class="form-group row">
          <label for="estado" class="col-form-label col-sm-3">Administrador:</label>
          <div class="col-sm-6">
            <select [compareWith]="compararAdmin" class="form-control" [(ngModel)]="sucursal.administrador" [ngModelOptions]="{standalone: true}">
              <option value="" disabled selected="selected">Seleccione admin</option>
              <option *ngFor="let item of administradores" [ngValue]="item" >{{item.nombreNegocio}}</option>
            </select>
          </div>
        </div>
    
        <div class="form-group row">
          <div class="col-sm-6">
              <button class="btn btn-rounded btn-primary" (click)='sucursalCrear()' *ngIf="!sucursal.sucursal_id else elseBlock" role="button">Crear</button>
              <ng-template #elseBlock>
                  <button class="btn btn-rounded btn-info" (click)='sucursalModificar()' role="button">Editar</button>
              </ng-template>
          </div>
        </div>
      </form>
    </div>
  </div>
  