<div class="card border-primary" id="formComision" style="width: 45rem;">
    <div class="card-header">
      Comision nueva
    </div>
    <div class="card-body">
      <form>
        <div class="form-group row">
          <label for="comision" class="col-form-label col-sm-2">Comision:</label>
          <div class="col-sm-6">
            <input type="number" step="0.01" min="0" max="50" class="form-control" [(ngModel)]="comision.comision"  name="comision"/>%
          </div>
        </div>
        <div class="form-group row">
          <label for="estado" class="col-form-label col-sm-2">Estado:</label>
          <div class="col-sm-6">
            <select  class="form-control" [(ngModel)]="comision.estado" [ngModelOptions]="{standalone: true}">
              <option value="" disabled selected="selected">Seleccione estado</option>
              <option *ngFor="let item of estado" [ngValue]="item.id" >{{item.name}}</option>
            </select>
          </div>
        </div>
    
        <div class="form-group row">
          <div class="col-sm-6">
              <button class="btn btn-rounded btn-primary" (click)='comisionCrear()' *ngIf="!comision.id else elseBlock" role="button">Crear</button>
              <ng-template #elseBlock>
                  <button class="btn btn-rounded btn-info" (click)='sucursalModificar()' role="button">Editar</button>
              </ng-template>
          </div>
        </div>
      </form>
    </div>
  </div>
 