<div class="card border-primary mb-3" id="listProducts">
    <div class="card-header">Comisiones</div>     
    <div class="card-body text-primary">
      <h5 class="card-title">Listado de Comisiones</h5>
      <div class="my-2 text-left">
        <button
          class="btn btn-rounded btn-primary"
          type="button"
          [routerLink]="['/administrador/form_comision']">
          Registrar comision
        </button>
      </div>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Valor comision</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of comisiones"> 
           <td>{{item.comision}}%</td>
           <td 
            *ngIf="item.estado===true">Activo</td>
            <td *ngIf="item.estado==false">Inactivo</td>
                <td>
                  <button type="button" name="aplicar" [routerLink]="['/administrador/comision_especifica',item.comision_id]"  class="btn btn-info">Modificar</button>
                </td>
                <td>
                  <button type="button" name="eliminar" (click)="comisionBloquear(item)"  class="btn btn-danger">Eliminar</button>
                </td>
          </tr>
        </tbody>
      </table>
      <comision-nav *ngIf="paginador" [paginador]="paginador"></comision-nav>
    </div>
  </div>
  

