<div class="card border-primary mb-3" id="listProducts">
    <div class="card-header">Administradores</div>     
    <div class="card-body text-primary">
      <h5 class="card-title">Listado de administradores</h5>
      <div class="my-2 text-left">
        <button
          class="btn btn-rounded btn-primary"
          type="button"
          [routerLink]="['/administrador/form_admin_sucursal']">
          Registrar admin
        </button>
      </div>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Username</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of administradores">
           <td >{{item.nombreNegocio}}</td>
           <td *ngIf="item.estado==true">Activo</td>
           <td *ngIf="item.estado==false">Bloqueado</td>
           <td>{{item.usuario.username}}</td>
                <td>
                  <button type="button" name="eliminar" [routerLink]="['/administrador/admin_especifico', item.administrador_id]"  class="btn btn-success">Editar</button>
                </td>
                <td>
                  <button type="button" name="eliminar" (click)="administradorBloquear(item)"  class="btn btn-danger">Bloquear</button>
                </td>
          </tr>
        </tbody> 
      </table>
      <sucursal-nav *ngIf="paginador" [paginador]="paginador"></sucursal-nav>
    </div>
  </div>
  


