<div class="card border-primary mb-3" id="listProducts">
    <div class="card-header">Productos</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Listado de productos</h5>
      <div class="my-2 text-left">
        <!-- <button
          class="btn btn-rounded btn-primary"
          type="button"
          [routerLink]="['/bussines/form_product']">
          Crear producto
        </button> -->
      </div>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Ciudad</th>
            <th>Enviado</th>
            <th>Total</th>
            <th>Comision</th>
            <th>Monto comision</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of ordenes">
            <td>{{item.ciudad}}</td>
            <td>{{item.enviado}}</td>
            <td>{{item.cart.precioCart | currency:"USD":"symbol":"2.2-2"}}</td>
            <td>{{item.cart.comision}}</td> 
            <td>{{item.cart.montoComision | currency:"USD":"symbol":"2.2-2"}}</td>
            <!-- <td>
                  <button type="button" name="editar" [routerLink]="['/bussines/producto_especifico', item.producto_id]" class="btn btn-primary">Editar</button>
                </td>
                <td>
                  <button type="button" name="eliminar" (click)="productoEliminar(item)"  class="btn btn-danger">Eliminar</button>
                </td> -->
          </tr>
        </tbody>
      </table>
      <ordenesadmin-nav *ngIf="paginador" [paginador]="paginador"></ordenesadmin-nav>
    </div>
  </div>
  

