<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand text-white">Central DB</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- <li *ngIf="authService.hasRole('ROLE_ADMIN')" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/administrador/list_negocios"
          >Negocios <span class="sr-only">(current)</span></a
        >
      </li> -->
      <li *ngIf="authService.hasRole('ROLE_ADMIN')" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/administrador"
          >Inicio <span class="sr-only">(current)</span></a
        >
      </li>
      <li *ngIf="authService.hasRole('ROLE_ADMIN')" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/administrador/list_admin_sucursales"
          >Admin negocio <span class="sr-only">(current)</span></a
        >
      </li>
      <li *ngIf="authService.hasRole('ROLE_ADMIN')" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/administrador/list_comisiones"
          >Comisiones <span class="sr-only">(current)</span></a
        >
      </li>
      <li *ngIf="authService.hasRole('ROLE_ADMIN')" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/administrador/list_ordenes"
          >Ordenes <span class="sr-only">(current)</span></a
        >
      </li>
      <li *ngIf="authService.hasRole('ROLE_NEGOCIO')" class="nav-item">
        <a class="nav-link" routerLink="/bussines"
          >Inicio <span class="sr-only">(current)</span></a
        >
      </li>
      <li *ngIf="authService.hasRole('ROLE_NEGOCIO')" class="nav-item">
        <a class="nav-link" routerLink="/bussines/list_products"
          >Productos <span class="sr-only">(current)</span></a
        >
      </li>
      <li *ngIf="authService.hasRole('ROLE_NEGOCIO')" class="nav-item">
        <a class="nav-link" routerLink="/bussines/list_categorias"
          >Categorias <span class="sr-only">(current)</span></a
        >
      </li>
      <li *ngIf="authService.hasRole('ROLE_NEGOCIO')" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/database/list_conexiones"
          >Conexiones <span class="sr-only">(current)</span></a
        >
      </li>
      <li *ngIf="authService.hasRole('ROLE_NEGOCIO')" class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/database/load_excel"
            >Cargar csv <span class="sr-only">(current)</span></a
          >
        </li>
        <li *ngIf="authService.hasRole('ROLE_NEGOCIO')" class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/bussines/list_ordenes"
            >Mis ventas <span class="sr-only">(current)</span></a
          >
        </li>
        <li *ngIf="authService.hasRole('ROLE_USER')" class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/client"
            >Inicio <span class="sr-only">(current)</span></a
          >
        </li>
        <li *ngIf="authService.hasRole('ROLE_USER')" class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/client/list_ordenes"
            >Mis ordenes <span class="sr-only">(current)</span></a
          >
        </li>
      <li *ngIf="authService.hasRole('ROLE_USER')" class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
         
        >
        Opciones
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item"  [routerLink]="['/client/list_products/', 'todo']" >Productos</a>
          <!-- <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a> -->
        </div>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right">
      <li *ngIf="!authService.esAutenticado()">
        <a [routerLink]="['/login']" class="btn btn-outline-primary">Sign in</a>
      </li>
      <li *ngIf="!authService.esAutenticado()">
        <a [routerLink]="['/register']" class="btn btn-outline-secondary">Registrar</a>
      </li>
      <li  *ngIf="authService.esAutenticado()" class="nav-item dropdown">
        <a
          class="btn btn-outline-primary dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
         
        >
        {{authService.usuario.username}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
         <button (click)="logout()" class="dropdown-item">Sign Out</button>
        </div>
      </li>
    </ul>
  </div>
</nav>
<!-- <div class="container">
  <h2>Vertical Nav</h2>
  <p>Use the .flex-column class to create a vertical nav:</p>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>
</div> -->
