<div class="container-fluid">
    <div class="row">
        <div class="col bg-dark text-white">
            <a class="navbar-brand">Tienda de productos</a>
        </div>
    </div>
    <div class="row">
        <div class="col mt-2">
            <h2 class="text-center">Tu carro</h2>
            <table class="table table-bordered table-striped p-2">
                <thead>
                    <tr>
                        <th>Cantidad</th>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Sub-total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="cart.lineas.length ===0">
                        <td colspan="4" class="text-center">
                            Tu carro está vacio
                        </td>
                    </tr>
                    <tr *ngFor="let linea of cart.lineas">
                        <td><input type="number" min="0" name="" id="" class="form-control-sm" style="width:4em;" [value]="linea.cantidad"
                            (change)="cart.actualizarCantidad(linea.producto,$event.target.value)"></td>
                        <td>{{linea.producto.nombre}}</td>
                        <td class="text-right">{{linea.producto.precio | currency:"USD":"symbol":"2.2-2"}}</td>
                        <td class="text-right">{{linea.lineaTotal | currency:"USD":"symbol":"2.2-2"}}</td>
                        <td class="text-center">
                            <button class="btn btn-sm btn-danger" (click)="cart.removeLine(linea.producto.producto_id)">Remover</button>
                        </td>
                        
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3" class="text-right">Total:</td>
                        <td class="text-right">{{cart.precioCart | currency:"USD":"symbol":"2.2-2"}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="text-center">
            <button class="btn btn-primary m-1" [routerLink]="['/client/list_products/', 'todo']">Continuar agregando productos</button>
            <button class="btn btn-secondary m-1" [routerLink]="['/checkout']" [disabled]="cart.lineas.length===0">Checkout</button>
        </div>
    </div>
</div>
