<div class="float-right">
    <small>
        Tu carro:
        <span *ngIf="cart.cantidadItem > 0"> 
            {{cart.cantidadItem}} producto(s)
            {{cart.precioCart | currency:"USD":"symbol":"2.2-2"}}
        </span>
        <span *ngIf="cart.cantidadItem == 0">
            (vacio) 
        </span>
        <button class="btn btn-sm bg-dark text-white" [disabled]="cart.cantidadItem===0" [routerLink]="['/cart']" >
            <i class="fa fa-shopping-cart"></i>
        </button>
    </small>
</div>
