<div class="container-fluid">
    <div class="row">
      <div class="col bg-dark text-white">
        <a class="navbar-brand">Tienda de productos</a>
      </div>
    </div>
  </div>

  <div *ngIf="orderEnviar" class="m-2 text-center">
    <h2>Gracias!</h2>
    <p>Gracias por enviar tu orden.</p>
    <button class="btn btn-primary" [routerLink]="['/client/list_products/', 'todo']">
      Regresar a la tienda
    </button>
  </div>
  
  <form *ngIf="!orderEnviar" #form="ngForm" novalidate
        (ngSubmit)="enviarOrden(form)" class="m-2">
    <div class="form-group">
      <label>Nombre remitente</label>
      <input class="form-control" #name="ngModel" name="name"
      [(ngModel)]="order.nombre_remitente" required/>
      <span *ngIf="submitted && name.invalid" class="text-danger">
        Ingresa nombre de quien recibe
      </span>
    </div>
    <div class="form-group">
      <label>Dirección</label>
      <input class="form-control" #address="ngModel" name="address"
             [(ngModel)]="order.direccion" required/>
      <span *ngIf="submitted && address.invalid" class="text-danger">
       Ingresa dirección destino
      </span>
    </div>
    <div class="form-group">
      <label>Ciudad</label>
      <input class="form-control" #country="ngModel" name="country"
             [(ngModel)]="order.ciudad" required/>
      <span *ngIf="submitted && country.invalid" class="text-danger">
        Ingresa ciudad
      </span>
    </div>
    <div class="text-center">
      <button class="btn btn-secondary m-1" routerLink="/cart">Atrás</button>
      <button class="btn btn-primary m-1" type="sumbit">Completar orden</button>
    </div>
  </form>
  