<div class="card border-primary mb-3" id="listProducts">
  <div class="card-header">
    Productos
    <h5 class="card-title">Tienda de productos</h5>
    <app-cart-summary></app-cart-summary>
    <form class="form">
      <div class="input-group mb-3">
        <input
          class="form-control form-control"
          type="search"
          placeholder="Buscar.."
          aria-label="Search"
          name="filterPost"
          [(ngModel)]="filterPost"
        />
      </div>
    </form>
    <form>
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="dropdown dropright">
              <button
                type="button"
                class="btn btn-primary dropdown-toggle"
                data-toggle="dropdown"
              >
                Categoría
              </button>
              <div class="dropdown-menu">
                <a
                  class="dropdown-item"
                  [routerLink]="[
                    '/client/list_products/',
                    item.subcategoria_id
                  ]"
                  *ngFor="let item of categoria"
                  >{{ item.nombre }}</a
                >
                <div class="dropdown-divider"></div>
                <a
                  class="dropdown-item"
                  [routerLink]="['/client/list_products/', 'todo']"
                  >Todas</a
                >
              </div>
            </div>

            <div class="col-2"></div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="card-body text-primary">
    <div *ngFor="let item of productos | filter: filterPost; let i = index">
      <div class="col-4" style="width:78%;">
        <div class="card border-dark mb-3" style="width: 20rem;">
          <div class="card-header">
            {{ item.nombre }}
          </div>
          <div class="card-body text-info">
            <h5 class="card-title">{{ item.descripcion }}</h5>
            <div class="row">
              <div class="col">
                <h6>{{ item.precio | currency: "USD":"symbol":"2.2-2" }}</h6>
              </div>
              <div class="col">
                <h6>{{ item.subcategoria.nombre }}</h6>
              </div>
            </div>
            <div class="row">
              <h6 class="card-title">Disponibilidad:{{ item.cantidad }}</h6>
            </div>
            <div class="row">
              <div class="col">
                <button
                  class="btn btn-success btn-sm float-right"
                  (click)="addProductoCaro(item)"
                >
                  Agregar carrito
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="form-inline float-left mr-1">
    <select class="form-control" [value]="productPerPage"
            (change)="changePageSize($event.target.value)">
      <option value="3">3 por Pagina</option>
      <option value="4">4 por Pagina</option>
      <option value="6">6 por Pagina</option>
      <option value="100">100 por Pagina</option>
    </select>
  </div>
  <div class="btn-group float-right">
    <button
      *counter="let offset of pageCount"
      (click)="changePage(offset)"
      class="btn btn-outline-primary"
      [class.active]="offset === selectedPage"
    >
      {{ offset }}
    </button>
  </div> -->
</div>
