<div class="card border-primary mb-3" id="listProducts">
    <div class="card-header">Ordenes</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Listado de ordenes</h5>
      <div class="my-2 text-left">
        <!-- <button
          class="btn btn-rounded btn-primary"
          type="button"
          [routerLink]="['/bussines/form_product']">
          Crear producto
        </button> -->
      </div>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>ciudad</th>
            <th>Cantidad productos</th>
            <th>Precio total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of order">
            <td>{{item.nombre_remitente}}</td>
            <td>{{item.direccion}}</td>
            <td>{{item.ciudad}}</td>
            <td>{{item.cart.cantidadItem}}</td>
            <td>{{item.cart.precioCart | currency:"USD":"symbol":"2.2-2"}}</td>
            <td>
                  <!-- <button type="button" name="editar" [routerLink]="['/bussines/producto_especifico', item.producto_id]" class="btn btn-primary">Editar</button>
                </td>
                <td>
                  <button type="button" name="eliminar" (click)="productoEliminar(item)"  class="btn btn-danger">Eliminar</button>
                </td>
          </tr> -->
        </tbody>
      </table>
      <ordenescliente-nav *ngIf="paginador" [paginador]="paginador"></ordenescliente-nav>
    </div>
  </div>
  
