<div id="formLogin" class="card border-primary" style="width: 23rem;">
    <div class="card-header">
        {{titulo}}
    </div>
    <div class="card-body">
        <form method="POST">
            <div class="from-group col-sm-12">
                <input type="text" [(ngModel)]="usuario.username" class="form-control" name="username" id="username" placeholder="Username" autofocus required>
            </div>
            <div class="from-group col-sm-12">
                <input type="password" [(ngModel)]="usuario.password" class="form-control" name="password" id="password" placeholder="Password" required>
            </div>
            <div class="from-group col-sm-12">
                <input (click)="login()" type="submit" class="btn btn-lg btn-primary btn-block" value="Login">
            </div>
        </form>
    </div>
</div>