<div id="formRegister" class="card border-primary" style="width: 23rem;">
    <div class="card-header">
        {{titulo}}
    </div>
    <div class="card-body">
        <form method="POST">
            <div class="from-group col-sm-12">
                <input type="text" [(ngModel)]="usuario.username" class="form-control" name="username" id="username" placeholder="Username..*" autofocus required>
            </div>
            <div class="from-group col-sm-12">
                <input type="email" [(ngModel)]="usuario.email" class="form-control" name="email" id="email" placeholder="email..*"  required>
            </div>
            <div class="from-group col-sm-12">
                <input type="password" [(ngModel)]="usuario.password" class="form-control" name="password" id="password" placeholder="Password..*" required>
            </div>
            <div class="from-group col-sm-12">
                <input type="password" [(ngModel)]="password2" class="form-control" name="password2" id="password2" placeholder="password otra vez..*" required>
            </div>
            <div class="from-group col-sm-12">
                <input type="text" [(ngModel)]="usuario.nombre" class="form-control" name="nombre" id="nombre" placeholder="nombre.."  >
            </div>
            <div class="from-group col-sm-12">
                <input type="text" [(ngModel)]="usuario.apellido" class="form-control" name="apellido" id="apellido" placeholder="apellido.." >
            </div>
            <div class="from-group col-sm-12">
                <input (click)="register()" type="submit" class="btn btn-lg btn-secondary btn-block" value="Register">
            </div>
        </form>
    </div>
</div>
