<div class="card border-primary" id="formProducto" style="width: 45rem;">
    <div class="card-header">
      Producto nuevo
    </div>
    <div class="card-body">
      <form>
        <div class="form-group row">
          <label for="nombre" class="col-form-label col-sm-2">Nombre:</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" [(ngModel)]="producto.nombre"  name="nombre"/>
          </div>
        </div>
        <div class="form-group row">
          <label for="descripcion" class="col-form-label col-sm-2">Descripcion:</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" [(ngModel)]="producto.descripcion"  name="descripcion"/>
          </div>
        </div>
        <div class="form-group row">
          <label for="cantidad" class="col-form-label col-sm-2">Cantidad:</label>
          <div class="col-sm-6">
            <input type="number" step="1" class="form-control" [(ngModel)]="producto.cantidad"  name="cantidad"/>
          </div>
        </div> 
        <div class="form-group row">
          <label for="precio" class="col-form-label col-sm-2">Precio:</label>
          <div class="col-sm-6">
            <input type="number" step="0.01" class="form-control" [(ngModel)]="producto.precio"  name="precio"/>
          </div>
        </div>
        <div class="form-group row">
          <label for="categoria" class="col-form-label col-sm-3">Categoria:</label>
          <div class="col-sm-6">
            <select  [compareWith]="compararSubCategoria" class="form-control" [(ngModel)]="producto.subcategoria" [ngModelOptions]="{standalone: true}">
              <option value="" disabled selected="selected">Seleccione categoria</option>
              <option *ngFor="let item of subCategorias" [ngValue]="item" >{{item.nombre}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row" *ngIf="producto.producto_id">
          <label for="estado" class="col-form-label col-sm-3">Estado:</label>
          <div class="col-sm-6">
            <select  class="form-control" [compareWith]="compararEstado" [(ngModel)]="producto.estado" [ngModelOptions]="{standalone: true}">
              <option value="" disabled selected="selected">Seleccione estado</option>
              <option *ngFor="let item of estado" [ngValue]="item.id" >{{item.name}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-6">
              <button class="btn btn-rounded btn-primary" (click)='productoCrear()' *ngIf="!producto.producto_id else elseBlock2"  role="button">Crear</button>
              <ng-template #elseBlock2>
                  <button class="btn btn-rounded btn-info" (click)='productoModificar()' role="button">Editar</button>
              </ng-template>
          </div>
        </div>
      </form>
    </div>
  </div>
  