<div class="card border-primary" id="formComision" style="width: 45rem;">
    <div class="card-header">
      Nueva Categoria 
    </div>
    <div class="card-body">
      <form>
        <div class="form-group row">
          <label for="comision" class="col-form-label col-sm-2">Nombre:</label>
          <div class="col-sm-6">
            <input type="text"  class="form-control" [(ngModel)]="categoria.nombre"  name="comision"/>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-6">
              <button class="btn btn-rounded btn-primary" (click)='categoriaCrear()' *ngIf="!categoria.subcategoria_id else elseBlock" role="button">Crear</button>
              <ng-template #elseBlock>
                  <button class="btn btn-rounded btn-info" (click)='categoriaModificar()' role="button">Editar</button>
              </ng-template>
          </div>
        </div>
      </form>
    </div>
  </div>
 
 
