<div class="card border-primary mb-3" id="listProducts">
    <div class="card-header">Categorias</div>     
    <div class="card-body text-primary">
      <h5 class="card-title">Listado de categorias</h5>
      <div class="my-2 text-left">
        <button
          class="btn btn-rounded btn-primary"
          type="button"
          [routerLink]="['/bussines/form_categoria']">
          Registrar catetoria
        </button>
      </div>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of categorias" >
           <td>{{item.nombre}}</td>
           
                <td>
                  <button type="button" name="editar" [routerLink]="['/bussines/categoria_especifica', item.subcategoria_id]"  class="btn btn-success">Editar</button>
                </td>
                <td>
                  <button type="button" name="eliminar" (click)="categoriaBloquear(item)" class="btn btn-danger">Bloquear</button>
                </td>
          </tr>
        </tbody>
      </table>
      <categoria-nav *ngIf="paginador" [paginador]="paginador"></categoria-nav>
    </div>
  </div>
  



