<div class="card border-primary mb-3" id="listProducts">
        <div class="card-header">Productos</div>
        <div class="card-body text-primary">
          <h5 class="card-title">Listado de productos</h5>
          <div class="my-2 text-left">
            <button
              class="btn btn-rounded btn-primary"
              type="button"
              [routerLink]="['/bussines/form_product']">
              Crear producto
            </button>
          </div>
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>cantidad</th>
                <th>Categoría</th>
                <th>Estado</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of productos">
                <td>{{item.nombre}}</td>
                <td>{{item.descripcion}}</td>
                <td>{{item.cantidad}}</td>
                <td>{{item.subcategoria.nombre}}</td>
                <td *ngIf="item.estado==true" >Activo</td>
                <td *ngIf="item.estado==false">Inactivo</td>
                <td>
                      <button type="button" name="editar" [routerLink]="['/bussines/producto_especifico', item.producto_id]" class="btn btn-primary">Editar</button>
                    </td>
                    <td>
                      <button type="button" name="eliminar" (click)="productoEliminar(item)"  class="btn btn-danger">Eliminar</button>
                    </td>
              </tr>
            </tbody>
          </table>
          <productosucursal-nav *ngIf="paginador" [paginador]="paginador"></productosucursal-nav>
        </div>
      </div>
      
