<div class="card border-primary mb-3" id="listProducts">
    <div class="card-header">Productos</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Listado de productos vendidos</h5>
      <div class="my-2 text-left">
        <!-- <button
          class="btn btn-rounded btn-primary"
          type="button"
          [routerLink]="['/bussines/form_product']">
          Crear producto
        </button> -->
      </div>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Total</th>
            <th>Comisión</th>
            <th>Monto comisión</th>
            <th>Ganacia</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cartLine">
            <td>{{item.producto.nombre}}</td>
            <td>{{item.cantidad}}</td>
            <td>{{item.lineaTotal | currency:"USD":"symbol":"2.2-2"}}</td>
            <td>{{item.comision}}</td>
            <td>{{item.comisionMonto | currency:"USD":"symbol":"2.2-2"}}</td>
            <td>{{item.gananciaNeta | currency:"USD":"symbol":"2.2-2"}}</td>
            <!-- <td>
                  <button type="button" name="editar" [routerLink]="['/bussines/producto_especifico', item.producto_id]" class="btn btn-primary">Editar</button>
                </td>
                <td>
                  <button type="button" name="eliminar" (click)="productoEliminar(item)"  class="btn btn-danger">Eliminar</button>
                </td> -->
          </tr>
        </tbody>
      </table>
      
    </div>
  </div>
  

