/* You can add global styles to     this file, and also import other style files */
@import '~handsontable/dist/handsontable.full.css';
html{
    height:100%;
    width:100%;
}
body{
    
    background-image: url("gris.jpg");
    background-size: 100% 100%;   
}