<div class="card border-primary" id="formConexion" style="width: 45rem;">
  <div class="card-header">
    Conexión con Base de Datos
  </div>
  <div class="card-body">
    <form>
      <div class="form-group row">
        <label for="gestores" class="col-form-label col-sm-2">Gestor:</label>
        <div class="col-sm-6">
          <select class="form-control" [(ngModel)]="conexion.gestor" [ngModelOptions]="{standalone: true}">
            <option value="" disabled selected="selected">Seleccione gestor</option>
            <option *ngFor="let gestor of manager" [ngValue]="gestor.id" >{{gestor.name}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="Nombre" class="col-form-label col-sm-2">Nombre DB:</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="conexion.nombre" name="nombre"/>
        </div>
      </div>
      <div class="form-group row">
        <label for="Host" class="col-form-label col-sm-2">Host:</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="conexion.host" name="host"/>
        </div>
      </div>
      <div class="form-group row">
        <label for="Puerto" class="col-form-label col-sm-2">Puerto:</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="conexion.puerto" name="puerto"/>
        </div>
      </div>
      <div class="form-group row">
        <label for="Usuario" class="col-form-label col-sm-2">Usuario:</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="conexion.usuario" name="usuario"/>
        </div>
      </div>
      <div class="form-group row">
        <label for="Password" class="col-form-label col-sm-2">Password:</label>
        <div class="col-sm-6">
          <input type="password" class="form-control" [(ngModel)]="conexion.password" name="password"/>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-6">
            <button class="btn btn-rounded btn-primary" (click)='create()' *ngIf="!conexion.conexion_id else elseBlock" role="button">Crear y conectar</button>
            <ng-template #elseBlock>
                <button class="btn btn-rounded btn-primary" (click)='conexionEstablecer()' role="button">Conectar</button>
                <button class="btn btn-rounded btn-info" (click)='conexionModificar()' role="button">Editar</button>
            </ng-template>
        </div>
      </div>
    </form>
  </div>
</div>
