<div class="card border-primary" id="formConexion" style="width: 45rem;">
    <div class="card-header">
      Consulta a ejecutar
    </div>
    <div class="card-body">
      <form>
        <div class="form-group row">
          <label for="Consulta" class="col-form-label col-sm-2">Consulta:</label>
          <div class="col-sm-10">
            <input type="text" size="20" class="form-control" [(ngModel)]="consulta.consulta" name="consulta"/>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-6">
            <button class="btn btn-rounded btn-primary" (click)='consultaEjecutar()' role="button">Ejecutar</button>
            <button class="btn btn-rounded btn-info" (click)='consultaModificar()' role="button">Editar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  
