<div class="card border-primary mb-3" id="listConexion">
  <div class="card-header">Conexiones</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de conexiones</h5>
    <div class="my-2 text-left">
      <button
        class="btn btn-rounded btn-primary"
        type="button"
        [routerLink]="['/database/conexion_db']">
        Crear Conexion
      </button>
    </div>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Gestor</th>
          <th>nombre DB</th>
          <th>Puerto</th>
          <th>Host</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of conexion">
          <!-- <td>{{item.id}}</td> -->
          <td>{{item.gestor}}</td>
          <td>{{item.nombre}}</td>
          <td>{{item.host}}</td>
          <td>{{item.puerto}}</td>
              <td> 
                <button type="button" name="conectar" class="btn btn-success" [routerLink]="['/database/conexion_especifica', item.conexion_id]">Ver</button>
              </td>
              <td> 
                <button type="button" name="consultas" class="btn btn-info" [routerLink]="['/database/list_consultas', item.conexion_id]">Consultas</button>
              </td>   
              <td>
                <button type="button" name="eliminar" (click)="conexionEliminar(item)" class="btn btn-danger">Eliminar</button>
              </td>
        </tr>
      </tbody>
    </table>
    <paginator-nav *ngIf="paginador" [paginador]="paginador"></paginator-nav>
  </div>
</div>
