<div class="card border-primary mb-3" id="listConsultas">
    <div class="card-header">Consultas</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Listado de consultas</h5>
      <div class="my-2 text-left">
      </div>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Gestor</th>
            <th>Tipo</th>
            <th></th>
          </tr>
        </thead>  
        <tbody *ngIf="consultas" style="overflow:scroll">
          <tr *ngFor="let item of consultas; index as i">
            <td>{{item.conexion.gestor}}</td>
            <td>{{item.tipoconsulta}}</td>
                <td> 
                  <button type="button" name="ver" class="btn btn-success" [routerLink]="['/database/consulta_especifica', item.consulta_id]">Ver</button>
                </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
