<form >
  <div><h3>Seleccione tablas a exportar</h3></div>
  <div class="row">
    <div class="col">
      <div class="card border-primary mb-3" style="width: 18rem;">
        <div class="card-header">
          Tablas de DB externa
        </div>
        <table>
          <thead>
            <tr>
              <th>Tablas</th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr class="even" *ngFor="let item of loadb; let i = index">
              <td>
                <input
                  type="checkbox"
                  selected="false"
                  [checked]="item.name"
                  [(ngModel)]="tablas.tabla"
                  [ngModelOptions]="{standalone: true}"
                />
              </td>
              <td>{{ item.name }}</td>
            </tr> -->
            <div>
              <select class="form-control" size="20" multiple name="tablas"  [(ngModel)]="tablas.tabla">
                <option *ngFor="let item of loadb" [value]="item.name">
                  {{item.name}}
                </option>
              </select>
            </div>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-auto">
      <!-- <div class="card border-primary mb-3" style="width: 18rem;">
        <div class="card-header">
          Tablas de DB
        </div>
        <table>
          <thead>
            <tr>
              <th>Tablas</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of displayTablas; let i = index">
              <td>
                <input
                  type="checkbox"
                  id="{{ item }}{{ i }}"
                  value="{{ item }}"
                />
              </td>
              <td>{{ item }}</td>
            </tr>
          </tbody>
        </table>
      </div> -->
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-6">
      <button class="btn btn-rounded btn-primary" role="button" (click)='enviarTabla()'>Siguiente</button>
    </div>
  </div>
</form>
