<div class="row" *ngIf="!show">
  <div class="card border-primary" id="formExcel" style="width: 45rem;">
    <div class="card-header">
      Cargar datos CSV
    </div>
    <div class="card-body">
      <form>
        <div class="form-group row">
          <div class="col-sm-6">
            <!-- <input id="file" type="file" accept=".csv" (change)="incomingfile($event)" class="btn btn-secondary" style="display: inline-block;"  placeholder="Upload file" accept=".xlsx"> -->
            <input
              id="file"
              type="file"
              accept=".csv"
              (change)="fileUpload($event.target.files)"
            />
          </div>
        </div>

        <div class="form-group row">
          <!-- <div class="col-sm-6">
                  <button class="btn btn-rounded btn-primary" (click)='Upload()' role="button">Procesar</button>
              </div> -->
        </div>
      </form>
    </div>
  </div>
</div>
<!-- <div class="row" *ngIf="show">
  <hot-table class="hot"
  
  [colHeaders]="true"
  [rowHeaders]="true">
    <hot-column data="item" *ngFor="let item of ids3[0]" [readOnly]="true" title="{{item}}"></hot-column>
  </hot-table>
</div> -->
<div class="row" *ngIf="show">
  <form>
    <div><h3>Seleccione columnas a exportar</h3></div>
    <div class="row">
      <div class="col">
        <div class="card border-primary mb-3" style="width: 28rem;">
          <div class="card-header">
            Columnas
          </div>
          <div>
            <select
              class="form-control"
              multiple
              name="tablas"
              size="20"
              [(ngModel)]="columnasSelect"
            >
              <option *ngFor="let item of ids3[0]; let i = index"
              [attr.data-index]="i" [value]="item">
                {{ item }}
              </option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-6">
            <button
              class="btn btn-rounded btn-primary"
              role="button"
              (click)="columnasSeleccionadas()"
            >
              Siguiente
            </button>
          </div>
        </div>
      </div>
      <div class="col" *ngIf="columnasList">
        <div class="card border-primary mb-3" style="width: 38rem;">
          <div class="card-header">
            Relacionar columnas
          </div>
          <div>
            <div class="card-body">
              <tr
                *ngFor="let item of columnasList; let i = index"
                [attr.data-index]="i"
              >
                <td class="">{{ i + 1 }}--{{ item }}</td>
              </tr> 
              <div>
                ______________________________________________________________________
              </div>
              <div class="form-group row">
                <div class="col-sm-2">
                  <select class="form-control" id="nombre" name="nombre" [(ngModel)]="relationColumns.nombre" [ngModelOptions]="{standalone: true}">
                    <option *ngFor="let item of indice" [value]="item">{{item}}</option>
                  </select>
                </div>
                <label for="nombre" class="col-form-label col-sm-2"
                  >Nombre:</label
                >
              </div>
              <div class="form-group row">
                <div class="col-sm-2">
         
                  <select class="form-control" id="descripcion" name="descripcion" [(ngModel)]="relationColumns.descripcion" [ngModelOptions]="{standalone: true}">
                    <option *ngFor="let item of indice" [value]="item">{{item}}</option>
                  </select>
                </div>
                <label for="descripcion" class="col-form-label col-sm-4"
                  >Descripción:</label
                >
              </div>
              <div class="form-group row">
                <div class="col-sm-2">
             
                  <select class="form-control" id="precio" name="precio" [(ngModel)]="relationColumns.precio" [ngModelOptions]="{standalone: true}">
                    <option *ngFor="let item of indice" [value]="item">{{item}}</option>
                  </select>
                </div>
                <label for="precio" class="col-form-label col-sm-2"
                  >Precio:</label
                >
              </div>
              <div class="form-group row">
                <div class="col-sm-2">
           
                  <select class="form-control" id="cantidad" name="cantidad" [(ngModel)]="relationColumns.cantidad" [ngModelOptions]="{standalone: true}">
                    <option *ngFor="let item of indice" [value]="item">{{item}}</option>
                  </select>
                </div>
                <label for="cantidad" class="col-form-label col-sm-2"
                  >Cantidad:</label
                >
              </div>
              <div class="form-group row">
                <div class="col-sm-2">
           
                  <select class="form-control" id="subcategoria" name="subcategoria" [(ngModel)]="relationColumns.subcategoria" [ngModelOptions]="{standalone: true}">
                    <option *ngFor="let item of indice" [value]="item">{{item}}</option>
                  </select>
                </div>
                <label for="subcategoria" class="col-form-label col-sm-4"
                  >Subcategoria:</label
                >
              </div>
              <!-- <div class="form-group row">
                <div class="col-sm-2">
                  <select class="form-control" id="subcategoria_nombre" name="subcategoria_nombre" [(ngModel)]="relationColumns.subcategoria_nombre" [ngModelOptions]="{standalone: true}">
                    <option *ngFor="let item of indice" [value]="item">{{item}}</option>
                  </select>
                </div>
                <label for="subcategoria" class="col-form-label col-sm-4"
                  >Subcategoria nombre:</label
                >
              </div> -->
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="">
            <button
              class="btn btn-rounded btn-primary"
              role="button"
              (click)="enviarParametros()"
            >
              Siguiente
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
