<form >
        <div><h3>Relacionar campos DB </h3></div>
        <div class="row">
          <div class="col">
            <div class="card border-primary mb-3" style="width: 38rem;">
              <div class="card-header">
                Relacionar columnas
              </div>
              <div>
                  <table>
                    <thead>
                      <tr>
                        <th></th>
                      </tr>
                    </thead>
                    <tr *ngFor="let item of columnaselect; let i=index" [attr.data-index]="i">
                      <td class="" >
                        {{item}}
                      </td>
                      <td>
                      
                      </td>
                    </tr>
                    <tr *ngFor="let item of displayTablas; let i=index">
                      <td>
                        <input type="number" [(ngModel)]="columnasociacion.columna" [ngModelOptions]="{standalone: true}">
                      </td>
                      <td>
                        {{item}}
                      </td>
                    </tr>
                  </table>
              </div>
            </div>
            <div class="form-group row">
              <div class="">
                <button class="btn btn-rounded btn-primary" role="button"  (click)='enviar()'>Siguiente</button>
              </div>
            </div>
          </div>
        </div>
        
      </form>
      
    
